
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Utils
@import "utils";

// Custom CSS

#btnFavourite.btn-success:focus {
	color: #fff;
    background-color: #2ab27b;
    border-color: #259d6d;
	outline: 0;
}

#btnFavourite.btn-default:focus {
	color: #636b6f;
    background-color: #fff;
    border-color: #ccc;
	outline: 0;
}

.message {
	display: flex;
	flex-direction: row;
	margin: 8px 0;
}

.message--self {
	display: flex;
	flex-direction: row-reverse;
}

.message div {
	background-color: #f5f8fa;;
	border-radius: 2px;
	padding: 8px 16px;
	width: 55%;
}
.message--self div {
	background-color: #3097d1;
	color: #fff;
}
